
@import "./styles/base/fonts.css";


@import 'tailwindcss';

@theme {
  --color-yellow-primary: #FFD74A;
  --color-blue-primary: #4AD2FF;
  --color-blue-secondary: #2e77ff;
  --color-pink-primary: #f950fa;
  --color-pink-secondary: #bb01ff;
  --color-gray-primary: #121212;
  --color-gray-secondary: #242424;
  --color-orange-primary: #fc9f02;
  --color-orange-secondary: #f56902;
  --color-green-primary: #5ed57c;
  --color-green-secondary: #247431;
  --font-killer:'Virus Killer', sans-serif;
  --font-roboto:'Roboto', sans-serif;

  --shadow-box-lg: 7px 5px 0px 0px ;
  --shadow-box-md: 6px 4px 0px 0px ;
  --shadow-box-sm: 5px 3px 0px 0px ;

}
@layer base{

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
      /* scrollbar */
  body::-webkit-scrollbar{
    width: 12px;
    position: relative;
  }
  body::-webkit-scrollbar-track {
    background: #000;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: #212121;
  }

  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  section{
    width: 100%;
  }
  hr{
    @apply my-10 w-10/12 max-w-2xl mx-auto
  }

  h1, h2, h3, h4{
    font-family: "Virus Killer", sans-serif;
    text-shadow: 2px 4px 0px #000;
    letter-spacing: 1.4px;
  }
  h1{
    @apply text-5xl
  }
  h2{
    @apply text-5xl
  }
  h3{
    @apply text-3xl
  }
  h4{
    @apply text-2xl
  }
  h5{
    text-shadow: 3px 3px 0px #000;
    @apply text-xl font-semibold text-gray-300
  }

  p{
    @apply text-lg md:text-xl text-gray-300
  }

  ul li{
    list-style-type: circle;
    margin-bottom: 8px;
  }

  table thead tr th{
    @apply py-2.5 px-0.5 text-gray-200  tracking-wider font-killer
  }
  table tbody tr td{
    @apply py-2 px-0.5 
  }

}

@layer utilities{
  .text-shadow-xl{
    text-shadow: 3px 3px 0px #000;
  }
  .heading-1{
    @apply relative mx-auto w-fit mb-10 
  }
  .heading-2{
    @apply w-11/12 mb-6 max-w-4xl mx-auto
  }
  .heading-3{
    @apply w-11/12 mb-6 max-w-lg mx-auto
  }
  .description-1{
    @apply mb-6 max-w-xl px-4 mx-auto
  }
  .description-2{
    @apply mb-6 max-w-3xl px-4 mx-auto
  }

  .gif-box-1{
    @apply w-full max-w-md h-auto mx-auto object-contain rounded-xl shadow-box-md shadow-black border-2 border-gray-400/50 transition-all hover:border-white
  }
}