@font-face {
    font-family: 'Virus Killer';
    src: url('../../fonts/zkuads_2.ttf') ;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/static/Roboto-Variable.ttf'), format('ttf');
    font-style: normal;
}
